
/* style.css */

main {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 150px 300px 271px;
	justify-content: center;
	align-content: center;
}

.profile img{
	height: 200px;
	width: auto;
}

.caption {
	text-align: center;
}

li {
	display: inline-block;
}