
/* style.css */
* {
	font-family: 'Nanum Gothic', sans-serif;
	background-color: lightblue;
}

.top_corner{
	display: grid;
	grid-template-columns: 99px 147px 169px;
	justify-content: center;
	align-content: center;
  	border: none;
  	color: white;
  	padding: 10px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
  	background-color: white; 
  	color: black; 
  	border: 2px solid white;
}

.top_corner:hover {
  	background-color: #008CBA;
  	color: white;
}

h1 {
	font-weight: 800;
}

.undergraduates {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 150px 300px 271px;
	justify-content: center;
	align-content: center;
}

.profile img{
	height: 200px;
	width: auto;
}

.caption {
	text-align: center;
}

.leader {
	align-content: center;
	width: 100%;
	display: grid;
    grid-template-columns: 25% 50% 25%;
}

li {
	display: inline-block;
}

.d{
	grid-column-start: 2;
  	grid-column-end: 3;
  	text-align: center;
  }