
/* style.css */

* {
	font-family: 'Nanum Gothic', sans-serif;
}

body {
  margin: 0;
  background-color: lightblue;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a.iow img{
	height: 48px;
	width: auto;
	float: right;
}
.fa { 
	height: 20px;
	width: auto;
}

.topnav a.navigation {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}




/*Homepage*/




h1 {
	font-weight: 800;
	text-align: center;
}


.internallinks a {
	text-align: center;
	border: 1px solid black;
  	background-color: #333;
  	color: black;
  	padding: 8px 10px;
  	font-size: 16px;
  	cursor: pointer;
  	border-color: #333;
  	color: white;
  	text-decoration: none;
}

.internallinks {
	margin: auto;
	width: 50%;
	text-align: center;
}

.homeheader {
	text-align: center;
}

#abouttext {
	width: 900px;
	margin: 0 auto;
}

#abouttext hr {
	width: 900px;
}

.sponsor {
	width: auto;
	height: 150px;
}

#sponsorimage {
	width: 900px;
	margin: 0 auto;
}


/*About Us*/
h1 {
	font-weight: 800;
	text-align: center;
}

h3.positiontitle {
	color: white;
}

.homeheader {
	text-align: center;
}

.profile img{
	height: 200px;
	width: auto;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.caption {
	text-align: center;
}

.team {
	display: grid;
	grid-gap: 40px;
	max-width: 902px;
	grid-template-columns: 200px 200px 200px 200px;
	justify-content: center;
	align-content: center;
}

.a{
	grid-column-start: 1;
  	grid-column-end: 2;
  	text-align: center;
  }

.b{
	grid-column-start: 2;
  	grid-column-end: 3;
  	text-align: center;
  }


.c{
	grid-column-start: 3;
  	grid-column-end: 4;
  	text-align: center;
  }

.d{
	grid-column-start: 4;
  	grid-column-end: 5;
  	text-align: center;
  }

.paragraph {
	width: 902px;
	margin: 0 auto;
}

.paragraph hr {
	width: 902px;
}




/*Utility Finder*/
form hr {
	width: 15%;
}

form {
	text-align: center;
	line-height: 30px;
	height: 275px;
	overflow: auto;
}

#overlay {
  width: 440px;
  margin: 3% auto;
  height: 440px;
  background-color: rgba(255, 255, 255, 0.9);
  /*border-radius: 40px;*/
  border: 2px #333 solid;
}

#utfindertitle {
	font-size: 30px;
	position: relative;
	top: 15px;
}

#notice {
	font-size: 11px;
	text-align: center;
}

#requirement {
	font-size: 11px;
	text-align: center;
}

/*For removing the arrows inside the number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Search Page */

#interface {
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 370px 330px;
  margin: 0px auto 50px;
  grid-gap: 5px 5px;
  margin-top: 20px;
}

#reporting {
	border-radius: 5px;
	border: 2px black solid;
	background-color: rgba(255, 255, 255, 0.9);
}

#report_text {
	height: auto;
	margin: auto;
	width: 450px;
}

.warning {
	font-size: 11px;
}
/*
#plan_link {
	width: 450px;
	height: 45px;
	border: 3px black solid;
	padding: 5px;
	display: flex;
  	flex-wrap: wrap;
}

*/
#plan_link a:hover {
	background-color: #ddd;
  	color: black; 
}

 #plan_link a {
	text-align: center;
	border: 1px solid black;
  	background-color: #333;
  	color: black;
  	padding: 8px 10px;
  	font-size: 16px;
  	cursor: pointer;
  	border-color: #333;
  	color: white;
  	text-decoration: none;
}

#plan_link {
	margin: auto;
	width: 50%;
	text-align: center;
}

#mapfigure {
	float: right;
	height: auto;
	width: 100%;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	border-radius: 5px;
	border: 2px black solid;
}

#graphdiv {
	height: 100%;
	width: auto;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	background-color: rgba(255, 255, 255, 0.9);
	border: 2px black solid;
	border-radius: 5px;
}

#searchleg.legend {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	z-index: 10;
	float: left;
	position: relative;
	top: 5px;
	left: 5px;
	height: 40px;
	width: 400px;
	border: 2px black solid;
	background-color: rgba(255, 255, 255, 0.9);
}

/* Interactive Map Page */

#boxes1 {
	background-image: linear-gradient(#333, lightblue);
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

#boxes1 p{
	color: white;
}

#boxes1 h2{
	color: white;
}

#boxes1 label{
	color: white;
}

#boxes2 {
	background-image: linear-gradient(#333, lightblue);
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}

#interactivemap {
	height: 400px;
	width: 800px;
	margin: 0 auto;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

#interactivegraph {
	height: 355px;
	width: 800px;
	background-color: rgba(255, 255, 255, 0.9);
	margin: 0 auto;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#dataless {
	height: 100px;
	color: black;
	font-size: 30px;
	text-align: center;
	visibility: hidden;
	z-index: 10;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	position: relative;
	top: 150px;
}

#frosted {
	height: 355px;
	width: 800px;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	z-index: 9;
	visibility: hidden;
	background-color: rgba(255, 255, 255, 0.5);
}

#maphide {
	z-index: 9;
	visibility: hidden;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	height: 400px;
	width: 800px;
	cursor: wait;
}

#intleg.legend {
	z-index: 10;
	float: left;
	position: absolute;
	top: 55px;
	left: 325px;
	height: 40px;
	width: 400px;
	border: 2px black solid;
	background-color: rgba(255, 255, 255, 0.9);
}

.holder {
	height: 755px;
	width: 100%;
	display: grid;
	grid-template-columns: 320px 800px 320px;
	grid-template-rows: 400px 355px;
}

.container {
    max-width: 640px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li label{
    display: inline-block;
    background-color: white;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #333;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
   	/*content: "\f067"; */
    transition: transform .3s ease-in-out;
}
/*
ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "|f"; 
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}
*/
ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}