
/* style.css */

* {
	font-family: 'Nanum Gothic', sans-serif;
}

body {
  margin: 0;
  background-color: lightblue;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a.iow img{
	height: 48px;
	width: auto;
	float: right;
}

.topnav a.navigation {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/*Homepage*/
h1 {
	font-weight: 800;
	text-align: center;
}

li {
	display: inline-block;
}

form hr {
  width: 15%;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}



.top_corner:hover {
  	background-color: #008CBA;
  	color: white;
}

.top_corner {
	text-align: center;
  	border: none;
  	color: white;
  	padding: 10px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
  	background-color: white; 
  	color: black; 
  	border: 2px solid white;
}

.internallinks {
	text-align: center;
}

.undergraduates {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 14% 24% 24% 24% 14%;
	justify-content: center;
	align-content: center;
}

.profile img{
	height: 200px;
	width: auto;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}


.caption {
	text-align: center;
}

.leader {
	align-content: center;
	width: 100%;
	display: grid;
    grid-template-columns: 25% 50% 25%;
}

.a{
	grid-column-start: 2;
  	grid-column-end: 3;
  	text-align: center;
  }

.b{
	grid-column-start: 3;
  	grid-column-end: 4;
  	text-align: center;
  }


.c{
	grid-column-start: 4;
  	grid-column-end: 5;
  	text-align: center;
  }


.d{
	grid-column-start: 2;
  	grid-column-end: 3;
  	text-align: center;
  }

.homeheader {
	text-align: center;
}

.endtag {
	display: inline-block;
}

/*Utility Finder*/

#overlay {
  width: 35%;
  margin: 3% auto;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}

#utfindertitle {
	font-size: 30px;
	position: relative;
	top: 15px;
}

/*For removing the arrows inside the number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
