<!DOCTYPE html>
	<html>
	<nav>
		<a href="/">Home</a>
		<a href="./utilityfinder">Utility Finder</a>
		<a href="./search">Interactive Map</a>
	</nav>
	<head>
		<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
		<title>Data+ Utility Finder Homepage</title>
	</head>
	<body>
		<p>Error<p>
		<h1>Result</h1>
		<p>Address is: {{ad}}, Zipcode is: {{zipc}}, State is: {{st}}, Address provided was unclear please try re-entering <a href="./utilityfinder">Utility Finder</a></p>
		<br><br>
		<div id='map' style='width: 800px; height: 500px;'></div>
		<label for='map'>All North Carolina Utilities</label>
		<script>
			mapboxgl.accessToken = 'pk.eyJ1IjoiYnR3MTkiLCJhIjoiY2tiOGR6MzI1MDNjaTJ0c3hnZHBmODRneSJ9.QVj1xKQ--FUvtw6soygk9g';
			var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/btw19/ckb9tgy821c6j1itda2ynmftu', // stylesheet location
			center: [{{"-79.0193"}}, {{"35.782169"}}], // starting position [lng, lat]
			zoom: 7.5 // starting zoom
			});
		</script>
	</body>
	</html>