<!DOCTYPE html>
  <html>
    <head>
      <script type="text/javascript" src="/node_modules/dygraphs/dist/dygraph.js"></script>
      <link rel="stylesheet" src="/node_modules/dygraphs/dist/dygraph.css"/>
    </head>
    <body>
    <style>
      #darkbg .dygraph-axis-label { color: white; }
      .dygraph-legend { text-align: right; }
      #darkbg .dygraph-legend { background-color: #101015; }
    </style>
    <div id="graphdiv" style="width:500px; height:300px;"></div>
    <p id="demo" onclick="testFunction()">Click me to change my HTML content (innerHTML).</p>
    <script type="text/javascript">
    var data = [];
    const { Client } = require('pg')
    const client = new Client({
      host: 'rapid-1304.vm.duke.edu',
      port: 5432,
      database: 'postgres',
      user: 'group3_read',
      password: 'water3all4me',
    })
   function testFunction() {
    initialFunction(function(result) {
      var dataSet = result;

      for (var i = 0; i < dataSet.length; i++) {
          data.push(Object.values(dataSet[i]));
      }
      //var myJSON = JSON.stringify(dataSet);
      document.getElementById("demo").innerHTML = `Data is:  ${data}`;
      //console.log("result is: ", data);
      /*
      g = new Dygraph(

      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      data,
      {
        labels: ["Date", "Data Point"],
        title: 'title',
        legend: 'always'
      });
      */
    })
  };
    
    function initialFunction(callback) {
      client.connect()
      client
        .query("SELECT ts, signal FROM nwis.daily WHERE nwis_site_no = '02043433'")
        .then(result => callback(result.rows)) //{data = result.rows; console.log(data);})//console.log(result.rows[0]['signal']))
        .catch(e => console.error(e.stack))
        .then(() => client.end())
    };
      
    </script>
    </body>
  </html>