<!DOCTYPE html>
	<html>
	<head>
		<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
       	<link
       	href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css"
       	rel="stylesheet"/>
    	<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
    	<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
    	<script src="/node_modules/dygraphs/dist/dygraph.js"></script>
        <link rel="stylesheet" href="/node_modules/dygraphs/dist/dygraph.css"/>
        <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel="stylesheet" type="text/css"/>
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"/>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="icon" href="{{ url_for('static', filename='img/cropped-iow_favicon-32x32.png') }}" sizes="32x32">
		<title>Data+ Interactive Map Tool</title>
	</head>
	<body>
		<div class="topnav">
			<a href="https://internetofwater.org/" class="iow" target="_blank"><img src="{{ url_for('static', filename='img/iow.jpg') }}"></a>
			<a href="/" class="navigation fa fa-home"></a>
			<a href="./about_us" class="navigation">About Us</a>
			<a href="./utilityfinder" class="navigation">Utility Finder</a>
			<a href="./search" class="navigation">Interactive Map</a>
		</div>
		<div class='holder'>
			<div id="boxes1">
				<h2>Selector</h2>
				<p>Choose which you'd like to show</p>
			</div>
			<div id='interactivemap'></div>
			    <div class="legend" id="intleg">
	              <div><strong>PWSID:</strong>&nbsp;<span id="mag"></span></div>
	              <div><strong>Name:</strong>&nbsp;<span id="loc"></span></div>
			    </div>
		<div id="interactivegraph"></div>
		<div id="boxes2">
		</div>
		<script type="text/javascript">
  		var x = document.getElementById("interactivegraph")
  		//x.style.display = "none";
  		var getJSON = function(url, callback) {
  		    var xhr = new XMLHttpRequest();
  		    xhr.open('GET', url, true);
  		    xhr.responseType = 'json';
  		    xhr.onload = function() {
  		      var status = xhr.status;
  		      if (status === 200) {
  		        callback(null, xhr.response);
  		      } else {
  		        callback(status, xhr.response);
  		      }
  		    };
  		    xhr.send();
  		};

		// is this the right place for this? 
    	var data = 'date,precipitation\n2018-01-01,83.84160786786978\n';
    	g = new Dygraph(

      // containing div
      document.getElementById("interactivegraph"),

      // CSV or path to a CSV file.
      data,
      {
        ylabel: 'Amount (units)',
        title: 'title', //'Calculation of Amount of Units from Streamgage',
        legend: 'always'
      }
		  );

		mapboxgl.accessToken = 'pk.eyJ1IjoiYnR3MTkiLCJhIjoiY2tiOGR6MzI1MDNjaTJ0c3hnZHBmODRneSJ9.QVj1xKQ--FUvtw6soygk9g';
		var map = new mapboxgl.Map({
			container: 'interactivemap',
			style: 'mapbox://styles/mapbox/light-v10', // stylesheet location
			center: [-79.8193, 35.7596], // starting position [lng, lat]
			zoom: 6 // starting zoom
		});

    	map.addControl(new mapboxgl.NavigationControl());
        var magDisplay = document.getElementById('mag');
      	var locDisplay = document.getElementById('loc');


      map.on('load', function() {


        map.addSource('utilities-simplest', {



          'type': 'vector',



          'url': 'mapbox://btw19.2fhcidlx'



        });


        map.addLayer({

          'id': 'utilities-simplest-viz',

            'source-layer': 'EvenSimplerPolygonsNC-9cvs7f',

            'type': 'fill',

            'source': 'utilities-simplest',

            'maxzoom': 6.99,
                        'paint': {
                    'fill-color': '#4EE91E',
                    'fill-opacity': [
                              'case',
                              ['boolean', ['feature-state', 'hover'], false],
                              0.5,
                              0.2
                          ]
                        }

      })

        map.addLayer({

          'id': 'utilities-simplest-border-viz',

            'source-layer': 'EvenSimplerPolygonsNC-9cvs7f',

            'type': 'line',

            'source': 'utilities-simplest',

            'maxzoom': 6.99,

            'paint': {

             'line-color': '#4EE91E',

             'line-width':1
            

          }


      });
       





                map.addSource('utilities-simpler', {

          'type': 'vector',

          'url': 'mapbox://btw19.0j0f3yp6'

        });

        map.addLayer({

          'id': 'utilities-simpler-viz',

            'source-layer': 'SimplePolygonsNC-bz1aui',

            'type': 'fill',

            'source': 'utilities-simpler',

            'minzoom': 7,
            'maxzoom': 10,
            'paint': {
                    'fill-color': '#4EE91E',
                    'fill-opacity': [
                              'case',
                              ['boolean', ['feature-state', 'hover'], false],
                              0.5,
                              0.2
                          ]
                        }
              
         

      })

 map.addLayer({

          'id': 'utilities-simpler-border-viz',

            'source-layer': 'SimplePolygonsNC-bz1aui',

            'type': 'line',

            'source': 'utilities-simpler',

            'minzoom': 7,

            'maxzoom': 10,

            'paint': {

             'line-color': '#4EE91E',

             'line-width':1
            

          }

      }); 
     







        map.addSource('utilities', {

          'type': 'vector',

          'url': 'mapbox://btw19.9b4ihil6'

        });

        map.addLayer({

            'id': 'utilities-viz',

            'source-layer': 'utilities-9lcba8',

            'type': 'fill',

            'source': 'utilities',

            'layout': {},

            'minzoom': 10,

            'paint': {
                    'fill-color': '#4EE91E',
                    'fill-opacity': [
                              'case',
                              ['boolean', ['feature-state', 'hover'], false],
                              0.5,
                              0.2
                          ]
                        }

      });


          map.addLayer({

            'id': 'utilities-border-viz',

            'source-layer': 'utilities-9lcba8',

            'type': 'line',

            'source': 'utilities',

            'layout': {},

            'minzoom': 10,

            'paint': {
              'line-color':'#4EE91E',
             'line-width':2

          }

      });


		//Lake Icons
 		map.addSource('lakeicons', {

          'type': 'vector',

          'url': 'mapbox://btw19.1m2y3oo7'

        });

        map.addLayer({
                'id': 'lakeicons',
                'type': 'symbol',
                'source': 'lakeicons',
                'source-layer': 'lake_points-06uq81',
                'layout': {
                    'icon-image': 'watermill-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });

        //Canal Icons
 		map.addSource('canalicons', {

          'type': 'vector',

          'url': 'mapbox://btw19.0fiwwcf6'

        });

        map.addLayer({
                'id': 'canalicons',
                'type': 'symbol',
                'source': 'canalicons',
                'source-layer': 'canal_points-dig4zp',
                'layout': {
                    'icon-image': 'windmill-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });

        //Ditch Icons
 		map.addSource('ditchicons', {

          'type': 'vector',

          'url': 'mapbox://btw19.2amngdm3'

        });

        map.addLayer({
                'id': 'ditchicons',
                'type': 'symbol',
                'source': 'ditchicons',
                'source-layer': 'ditch_points-77qysd',
                'layout': {
                    'icon-image': 'aquarium-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });

        //Estuary Icons
 		map.addSource('estuaryicons', {

          'type': 'vector',

          'url': 'mapbox://btw19.dcl57rc5'

        });

        map.addLayer({
                'id': 'estuaryicons',
                'type': 'symbol',
                'source': 'estuaryicons',
                'source-layer': 'estuary_points-catjm4',
                'layout': {
                    'icon-image': 'beach-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });

        //Stream Icons
 		map.addSource('streamicons', {

          'type': 'vector',

          'url': 'mapbox://btw19.9agg0apw'

        });

        map.addLayer({
                'id': 'streamicons',
                'type': 'symbol',
                'source': 'streamicons',
                'source-layer': 'stream_points-5zagcy',
                'layout': {
                    'icon-image': 'waterfall-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });

        });

		// enumerate ids of the layers
		var toggleableLayerIds = ['lakeicons', 'streamicons', 'ditchicons', 'canalicons', 'estuaryicons'];
		 
		// set up the corresponding toggle button for each layer
		for (var i = 0; i < toggleableLayerIds.length; i++) {
			var id = toggleableLayerIds[i];
			 
			var checkbox = document.createElement('input');
			var checkboxlabel = document.createElement('label');
			var spacer = document.createElement('br');
			checkbox.type = 'checkbox' 
			checkbox.className = 'active';
			checkbox.textContent = id;
			checkboxlabel.for = id;

			var create_label = id.replace("icon", "");
			var final_label= create_label.charAt(0).toUpperCase() + create_label.slice(1);
			checkboxlabel.textContent = " " + final_label;
			 
			checkbox.onclick = function(e) {
				var clickedLayer = this.textContent;
				//e.preventDefault();
				e.stopPropagation();
				 
				var visibility = map.getLayoutProperty(clickedLayer, 'visibility');
				// toggle layer visibility by changing the layout object's visibility property
				if (visibility === 'visible') {
					map.setLayoutProperty(clickedLayer, 'visibility', 'none');
					this.className = '';
				} else {
					this.className = 'active';
					map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
					}
			};
			 
			var layers = document.getElementById('boxes1');
			layers.appendChild(checkbox);
			layers.appendChild(checkboxlabel);
			layers.appendChild(spacer);
		}


        map.on('mouseenter', 'streamicons', function() {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'streamicons', function() {
            map.getCanvas().style.cursor = '';
        });

        map.on('mouseenter', 'ditchicons', function() {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'ditchicons', function() {
            map.getCanvas().style.cursor = '';
        });

        map.on('mouseenter', 'canalicons', function() {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'canalicons', function() {
            map.getCanvas().style.cursor = '';
        });

        map.on('mouseenter', 'estuaryicons', function() {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'estuaryicons', function() {
            map.getCanvas().style.cursor = '';
        });

        map.on('mouseenter', 'lakeicons', function() {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'lakeicons', function() {
            map.getCanvas().style.cursor = '';
        });

       map.on('click', 'utilities-viz', function(e) {
        new mapboxgl.Popup()
          .setLngLat(e.lngLat)
          .setHTML(e.features[0].properties.name)
          .addTo(map);
      });
   
      // Change the cursor to a pointer when the mouse is over the states layer.
      map.on('mouseenter', 'utilities-viz', function() {
        map.getCanvas().style.cursor = 'pointer';
      });
   
      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'utilities-viz', function() {
        map.getCanvas().style.cursor = '';
      });



            map.on('click', 'utilities-simpler-viz', function(e) {
        new mapboxgl.Popup()
          .setLngLat(e.lngLat)
          .setHTML(e.features[0].properties.name)
          .addTo(map);
      });
   
      // Change the cursor to a pointer when the mouse is over the states layer.
      map.on('mouseenter', 'utilities-simpler-viz', function() {
        map.getCanvas().style.cursor = 'pointer';
      });
   
      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'utilities-simpler-viz', function() {
        map.getCanvas().style.cursor = '';
      });


            map.on('click', 'utilities-simplest-viz', function(e) {
        new mapboxgl.Popup()
          .setLngLat(e.lngLat)
          .setHTML(e.features[0].properties.name)
          .addTo(map);
      });
   
      // Change the cursor to a pointer when the mouse is over the states layer.
      map.on('mouseenter', 'utilities-simplest-viz', function() {
        map.getCanvas().style.cursor = 'pointer';
      });
   
      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'utilities-simplest-viz', function() {
        map.getCanvas().style.cursor = '';
      });



map.on('click', 'streamicons', function(e) {
            var coordinates = e.features[0].geometry.coordinates.slice();
            var description = e.features[0].properties.description;
            var siteNumber = e.features[0].properties.site_no;
            var siteName = e.features[0].properties.station_nm;

        getJSON(`/nwis_surfacewater/${siteNumber}`, function(err, data) {
          console.log(data);
          var new_data = [];
          var labels_list = ["date", "gage_height_max", "gage_height_min", "gage_mean"];
          //console.log("stuff")
          /*
          for (i=0; i<data.data.length; i++) {
            data.data[i][0] = new Date(data.data[i][0]);
            //console.log("foo"); 
          }
          */
          console.log(Object.keys(data.date).length);
          console.log(data.date[0])
          for (var k = 0; k < Object.keys(data.date).length; k++) {
            new_data[k] = [];
            var new_date = data.date[k];
            var dt = new Date(new_date);
            new_data[k][0] = dt;
            new_data[k][1] = data.gage_height_max[k];
            new_data[k][2] = data.gage_height_min[k];
            new_data[k][3] = data.gage_mean[k];
            //labels_list.push(data[0][j]);
          }
          console.log(new_data); 
          g.updateOptions({
                  'file': new_data,
                  'title': siteName,
                  'labels': labels_list
                  })
        });//console.log(result.rows[0]['signal'])});
      //document.getElementById("bigdiv").style.display = "inline-block";   

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }
            /*
            new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
            */
        });




        var quakeID = null;



        map.on('mouseenter', 'utilities-viz', e => {

         


          // Set variables equal to the current feature's magnitude, location, and time


          var quakeMagnitude = e.features[0].properties.PWSID; // changed 

          var quakeLocation = e.features[0].properties.SystemName;



          if (e.features.length > 0) {


            // Display the magnitude, location, and time in the sidebar



            magDisplay.textContent = quakeMagnitude;

            locDisplay.textContent = quakeLocation;

            quakeID = e.features[0].id;

            // When the mouse moves over the earthquakes-viz layer, update the

            // feature state for the feature under the mouse

            if (quakeID) {

            map.setFeatureState(
            { source: 'utilities', sourceLayer: "utilities-9lcba8", id: quakeID },
            { hover :true }
            );
            }
            }
            });



        // When the mouse leaves the earthquakes-viz layer, update the

        // feature state of the previously hovered feature
      

        map.on('mouseleave', 'utilities-viz', function() {

          if (quakeID) {

            map.setFeatureState(

              {

                source: 'utilities',

                sourceLayer: "utilities-9lcba8",

                id: quakeID

              },

              {

                hover: false

              }

            );

          }
          

        quakeID = null;


        
         

          


          // Remove the information from the previously hovered feature from the sidebar

          magDisplay.textContent = '';

          locDisplay.textContent = '';

         

        


        });



map.on('mouseenter', 'utilities-simpler-viz', e => {

         


          // Set variables equal to the current feature's magnitude, location, and time


          var quakeMagnitude = e.features[0].properties.PWSID; // changed 

          var quakeLocation = e.features[0].properties.SystemName;



          if (e.features.length > 0) {


            // Display the magnitude, location, and time in the sidebar



            magDisplay.textContent = quakeMagnitude;

            locDisplay.textContent = quakeLocation;

            quakeID = e.features[0].id;

            // When the mouse moves over the earthquakes-viz layer, update the

            // feature state for the feature under the mouse

            if (quakeID) {

            map.setFeatureState(
            { source: 'utilities-simpler', sourceLayer: "SimplePolygonsNC-bz1aui", id: quakeID },
            { hover :true }
            );
            }
            }
            });



        // When the mouse leaves the earthquakes-viz layer, update the

        // feature state of the previously hovered feature
      

        map.on('mouseleave', 'utilities-simpler-viz', function() {

          if (quakeID) {

            map.setFeatureState(

              {

                source: 'utilities-simpler',

                sourceLayer: "SimplePolygonsNC-bz1aui",

                id: quakeID

              },

              {

                hover: false

              }

            );

          }
          

        quakeID = null;


        
         

          


          // Remove the information from the previously hovered feature from the sidebar

          magDisplay.textContent = '';

          locDisplay.textContent = '';

         

        


        });



        map.on('mouseenter', 'utilities-simplest-viz', e => {

         


          // Set variables equal to the current feature's magnitude, location, and time


          var quakeMagnitude = e.features[0].properties.PWSID; // changed 

          var quakeLocation = e.features[0].properties.SystemName;



          if (e.features.length > 0) {


            // Display the magnitude, location, and time in the sidebar



            magDisplay.textContent = quakeMagnitude;

            locDisplay.textContent = quakeLocation;

            quakeID = e.features[0].id;

            // When the mouse moves over the earthquakes-viz layer, update the

            // feature state for the feature under the mouse

            if (quakeID) {

            map.setFeatureState(
            { source: 'utilities-simplest', sourceLayer: "EvenSimplerPolygonsNC-9cvs7f", id: quakeID },
            { hover :true }
            );
            }
            }
            });



        // When the mouse leaves the earthquakes-viz layer, update the

        // feature state of the previously hovered feature
      

        map.on('mouseleave', 'utilities-simplest-viz', function() {

          if (quakeID) {

            map.setFeatureState(

              {

                source: 'utilities-simplest',

                sourceLayer: "EvenSimplerPolygonsNC-9cvs7f",

                id: quakeID

              },

              {

                hover: false

              }

            );

          }
          

        quakeID = null;


        

          // Remove the information from the previously hovered feature from the sidebar

          magDisplay.textContent = '';

          locDisplay.textContent = '';

         

        


	});


	</script>
	</body>
	</html>