<!DOCTYPE html>
	<html>
	<head>
		<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
       	<link
       	href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css"
       	rel="stylesheet"/>
    	<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
    	<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
    	<script src="/node_modules/dygraphs/dist/dygraph.js"></script>
        <link rel="stylesheet" href="/node_modules/dygraphs/dist/dygraph.css"/>
        <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel="stylesheet" type="text/css"/>
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"/>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="icon" href="{{ url_for('static', filename='img/cropped-iow_favicon-32x32.png') }}" sizes="32x32">
		<title>Data+ Interactive Map Tool</title>
	</head>
	<body>
		<div class="topnav">
			<a href="https://internetofwater.org/" class="iow" target="_blank"><img src="{{ url_for('static', filename='img/iowclearwhite.png') }}"></a>
			<a href="/" class="navigation fa fa-home"></a>
			<a href="./about_us" class="navigation">About Us</a>
			<a href="./utilityfinder" class="navigation">Utility Finder</a>
			<a href="./search" class="navigation">Interactive Map</a>
		</div>
		<div class='holder'>
			<div id="boxes1">
				<h2 style="padding-left: 20px; color: white;">Selector</h2>
				<p style="padding-left: 20px; color: white; margin-bottom: 0;">Choose which you'd like to show</p>
        <div class='container'>
          <ul class="ks-cboxtags" id="checklist_sites">
            <li><p style="color: white;">Surface Water</p></li>
            <li><input type="checkbox" id="lakeicons"><label for="lakeicons">Lakes</label></li>
            <li><input type="checkbox" id="streamicons"><label for="streamicons">Streams</label></li>
            <li><input type="checkbox" id="ditchicons" ><label for="ditchicons">Ditches</label></li>
            <li><input type="checkbox" id="canalicons" ><label for="canalicons">Canals</label></li>
            <li><input type="checkbox" id="estuaryicons" ><label for="estuaryicons">Estuaries</label></li>
          </ul>
          <ul class="ks-cboxtags" id="checklist_sites_ground">
            <li><p style="color: white;">Ground Water</p></li>
            <li><input type="checkbox" id="wellicons" ><label for="wellicons">Wells</label></li>
          </ul>
        </div>
        <div id="graph_checkboxes">
          <h3>Choose a site and then click the checkboxes to toggle graph data visibility:</h3>
          <div id="div_g"></div>
          <p><b>All Time Data:</b></p>
          <p>
            <input type=checkbox id="0" onClick="change(this)">
            <label for="0"> Gage Height Minimun</label><br/>
            <input type=checkbox id="1" onClick="change(this)">
            <label for="1"> Gage Height Maximum</label><br/>
            <input type=checkbox id="2" onClick="change(this)">
            <label for="2"> Gage Height Mean</label><br/>
          </p>
          <p><b>Your Timeframe:</b></p>
          <p>
            <input type=checkbox id="3" onClick="change(this)">
            <label for="3">Gage Height Minimum</label><br/>
            <input type=checkbox id="4" onClick="change(this)">
            <label for="4">Gage Height Maximum</label><br/>
            <input type=checkbox id="5" onClick="change(this)">
            <label for="5">Gage Height Mean</label><br/>
          </p>
          <section class="yearinput">
          <label for="year_label">Select The Timeframe You Want To View</label><br>
            <input type="date" id="starttime" value="2019-07-18" required>
            <input type="date" id="endtime" value="2020-07-18" required>
          </section>
        </div>
			</div>
			<div id='interactivemap'></div>
			    <div class="legend" id="intleg">
	              <div><strong>PWSID:</strong>&nbsp;<span id="mag"></span></div>
	              <div><strong>Name:</strong>&nbsp;<span id="loc"></span></div>
			    </div>
		  <div id="interactivegraph"></div>
  		<div id="boxes2">
        <!--<div class="listheader">
          <h1>List of Streams</h1>
        </div>
        <div id='listings' class='listings'></div> -->
      </div>
      <div id="dataless">NO DATA</div>
      <div id="frosted"></div>
      <div id="maphide"></div>
    </div>
		<script type="text/javascript">
  		var grapher = document.getElementById("interactivegraph");
      var dataless = document.getElementById("dataless");
      var frosted = document.getElementById("frosted");
      var maphide = document.getElementById("maphide");
      var maybe = document.getElementById("div_g");
      var gage_min_avg_box = document.getElementById("0");
      var gage_max_avg_box = document.getElementById("1");
      var gage_mean_avg_box = document.getElementById("2");
      var gage_min_365_box = document.getElementById("3");
      var gage_max_365_box = document.getElementById("4");
      var gage_mean_365_box = document.getElementById("5");

  		//x.style.display = "none";
  		var getJSON = function(url, callback) {
  		    var xhr = new XMLHttpRequest();
  		    xhr.open('GET', url, true);
  		    xhr.responseType = 'json';
  		    xhr.onload = function() {
  		      var status = xhr.status;
  		      if (status === 200) {
  		        callback(null, xhr.response);
  		      } else {
  		        callback(status, xhr.response);
  		      }
  		    };
  		    xhr.send();
  		};

		// is this the right place for this? 
    	var data = 'date,precipitation\n2018-01-01,83.84160786786978\n';
    	g = new Dygraph(

      // containing div
      document.getElementById("interactivegraph"),

      // CSV or path to a CSV file.
      data,
      {
        'ylabel': 'Gage Height (ft)',
        'legend': 'none',
        'visibility': [false]
      }
		  );

		mapboxgl.accessToken = 'pk.eyJ1IjoiYnR3MTkiLCJhIjoiY2tiOGR6MzI1MDNjaTJ0c3hnZHBmODRneSJ9.QVj1xKQ--FUvtw6soygk9g';
		var map = new mapboxgl.Map({
			container: 'interactivemap',
			style: 'mapbox://styles/mapbox/light-v10', // stylesheet location
			center: [-79.8193, 35.7596], // starting position [lng, lat]
			zoom: 5.5 // starting zoom
		});

     map.addControl(new mapboxgl.NavigationControl());
        var magDisplay = document.getElementById('mag');
        var locDisplay = document.getElementById('loc');

      map.on('load', function() {
        map.addSource('utilities-simplest', {
          'type': 'vector',
          'url': 'mapbox://btw19.c5i9z094'
        });

      map.addLayer({
          'id': 'utilities-simplest-viz',
            'source-layer': 'EvenSimplerPolygonsNC-a1qsdf',
            'type': 'fill',
            'source': 'utilities-simplest',
            'maxzoom': 6.99,
                        'paint': {
                    'fill-color':  [
'interpolate',
['linear'],
['get', 'PWSID_INT'],
0,
'#ffffcc',
100000,
'#a1dab4',
200000,
'#41b6c4',
250000,
'#2c7fb8',
300000,
'#253494',
340000,
'#fed976',
380000,
'#feb24c',
450000,
'#fd8d3c',
800000,
'#f03b20'
],
                    'fill-opacity': [
                              'case',
                              ['boolean', ['feature-state', 'hover'], false],
                              0.5,
                              0.2
                          ]
                        }

      }); 

      map.addLayer({
          'id': 'utilities-simplest-border-viz',
            'source-layer': 'EvenSimplerPolygonsNC-a1qsdf',
            'type': 'line',
            'source': 'utilities-simplest',
            'maxzoom': 6.99,
            'paint': {
             'line-color': '#723122',
             'line-width':1
          }
      });
       
      map.addSource('utilities-simpler', {
          'type': 'vector',
          'url': 'mapbox://btw19.4edt3p8r'
      });

        map.addLayer({
          'id': 'utilities-simpler-viz',
          'source-layer': 'SimplePolygonsNC-4d1tv2',
          'type': 'fill',
          'source': 'utilities-simpler',
          'minzoom': 7,
          'maxzoom': 10,
          'paint': {
                'fill-color':  [
'interpolate',
['linear'],
['get', 'PWSID_INT'],
0,
'#ffffcc',
100000,
'#a1dab4',
200000,
'#41b6c4',
250000,
'#2c7fb8',
300000,
'#253494',
340000,
'#fed976',
380000,
'#feb24c',
450000,
'#fd8d3c',
800000,
'#f03b20'
],
                'fill-opacity': [
                        'case',
                        ['boolean', ['feature-state', 'hover'], false],
                        0.5,
                        0.2
                        ]
          }
      });

      map.addLayer({
          'id': 'utilities-simpler-border-viz',
          'source-layer': 'SimplePolygonsNC-4d1tv2',
          'type': 'line',
          'source': 'utilities-simpler',
          'minzoom': 7,
          'maxzoom': 10,
          'paint': {
             'line-color': '#723122',
             'line-width':1
          }
      }); 
  
      map.addSource('utilities', {
          'type': 'vector',
          'url': 'mapbox://btw19.283iigb7'
        });

      map.addLayer({
          'id': 'utilities-viz',
          'source-layer': 'utilities-35banb',
          'type': 'fill',
          'source': 'utilities',
          'layout': {},
          'minzoom': 10,
          'paint': {
                    'fill-color':  [
'interpolate',
['linear'],
['get', 'PWSID_INT'],
0,
'#ffffcc',
100000,
'#a1dab4',
200000,
'#41b6c4',
250000,
'#2c7fb8',
300000,
'#253494',
340000,
'#fed976',
380000,
'#feb24c',
450000,
'#fd8d3c',
800000,
'#f03b20'
],
                    'fill-opacity': [
                              'case',
                              ['boolean', ['feature-state', 'hover'], false],
                              0.5,
                              0.2
                    ]
          }
      });

      map.addLayer({
            'id': 'utilities-border-viz',
            'source-layer': 'utilities-35banb',
            'type': 'line',
            'source': 'utilities',
            'layout': {},
            'minzoom': 10,
            'paint': {
              'line-color':'#723122',
             'line-width':2
          }
      });

		//Lake Icons
 		map.addSource('lakeicons', {
          'type': 'vector',
          'url': 'mapbox://btw19.1m2y3oo7'
        });

        map.addLayer({
                'id': 'lakeicons',
                'type': 'symbol',
                'source': 'lakeicons',
                'source-layer': 'lake_points-06uq81',
                'layout': {
                    'icon-image': 'watermill-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });

        //Canal Icons
 		map.addSource('canalicons', {
          'type': 'vector',
          'url': 'mapbox://btw19.0fiwwcf6'
        });

      map.addLayer({
                'id': 'canalicons',
                'type': 'symbol',
                'source': 'canalicons',
                'source-layer': 'canal_points-dig4zp',
                'layout': {
                    'icon-image': 'windmill-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
      });

        //Ditch Icons
 		map.addSource('ditchicons', {
          'type': 'vector',
          'url': 'mapbox://btw19.2amngdm3'
    });

        map.addLayer({
                'id': 'ditchicons',
                'type': 'symbol',
                'source': 'ditchicons',
                'source-layer': 'ditch_points-77qysd',
                'layout': {
                    'icon-image': 'aquarium-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });

        //Estuary Icons
 		map.addSource('estuaryicons', {
          'type': 'vector',
          'url': 'mapbox://btw19.dcl57rc5'
        });

        map.addLayer({
                'id': 'estuaryicons',
                'type': 'symbol',
                'source': 'estuaryicons',
                'source-layer': 'estuary_points-catjm4',
                'layout': {
                    'icon-image': 'beach-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });

        //Stream Icons
 		map.addSource('streamicons', {
          'type': 'vector',
          'url': 'mapbox://btw19.9agg0apw'
        });

        map.addLayer({
                'id': 'streamicons',
                'type': 'symbol',
                'source': 'streamicons',
                'source-layer': 'stream_points-5zagcy',
                'layout': {
                    'icon-image': 'waterfall-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });

    map.addSource('wellicons', {
          'type': 'vector',
          'url': 'mapbox://btw19.7itox5qk'
        });

        map.addLayer({
                'id': 'wellicons',
                'type': 'symbol',
                'source': 'wellicons',
                'source-layer': 'groundwater_points-a862jp',
                'layout': {
                    'icon-image': 'viewpoint-15',
                    'icon-allow-overlap': true,
                    'icon-size': 1,
                    'visibility': 'none'
                }
            });
        //buildLocationList();
        });

		// enumerate ids of the layers
		var toggleableLayerIds = ['lakeicons', 'streamicons', 'ditchicons', 'canalicons', 'estuaryicons', 'wellicons'];
		 
for (var i = 0; i < toggleableLayerIds.length; i++) {
      var id = toggleableLayerIds[i];
      var checkbox = document.getElementById(id);
      //var checkboxlabel = document.createElement('label');
      //var node = document.createElement('li');
      //var spacer = document.createElement('br');
      checkbox.textContent = id;
      checkbox.checked = false;
       
      checkbox.onclick = function(e) {
        var clickedLayer = this.textContent;
        //e.preventDefault();
        e.stopPropagation();
         
        var visibility = map.getLayoutProperty(clickedLayer, 'visibility');
        // toggle layer visibility by changing the layout object's visibility property
        if (visibility === 'visible') {
          map.setLayoutProperty(clickedLayer, 'visibility', 'none');
          this.className = '';
        } else {
          this.className = 'active';
          map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
          }
      };
       
      //layers.appendChild(spacer);
    }
/*
function buildLocationList(data) {
  data.features.forEach(function(streamlocs, i){
    *
     * Create a shortcut for `store.properties`,
     * which will be used several times below.
    *
    var prop = streamlocs.properties;

    /* Add a new listing section to the sidebar. 
    var listings = document.getElementById('boxes2');
    var listing = listings.appendChild(document.createElement('div'));
    /* Assign a unique `id` to the listing. 
    listing.id = "listing-" + prop.site_no;
    /* Assign the `item` class to each listing for styling. 
    listing.className = 'item';

    /* Add the link to the individual listing created above. 
    var link = listing.appendChild(document.createElement('a'));
    link.href = '#';
    link.className = 'title';
    link.id = "link-" + prop.site_no;
    link.innerHTML = prop.station_nm;

    /* Add details to the individual listing. 
    var details = listing.appendChild(document.createElement('div'));
    details.innerHTML = prop.site_no;
    /*if (prop.phone) {
      details.innerHTML += ' · ' + prop.phoneFormatted;
    }
    
  });
}
*/

    var clickability = function(e) {
      var clickedLayer = this.name;
      //e.preventDefault();
      //e.stopPropagation();
      console.log(clickedLayer);
    var visibility = map.getLayoutProperty(clickedLayer, 'visibility');
    // toggle layer visibility by changing the layout object's visibility property
    if (visibility === 'visible') {
      map.setLayoutProperty(clickedLayer, 'visibility', 'none');
      this.className = '';
    } else {
      this.className = 'active';
      map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
      }
    }

        map.on('mouseenter', 'ditchicons', function() {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'ditchicons', function() {
            map.getCanvas().style.cursor = '';
        });

        map.on('mouseenter', 'canalicons', function() {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'canalicons', function() {
            map.getCanvas().style.cursor = '';
        });

        map.on('mouseenter', 'estuaryicons', function() {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'estuaryicons', function() {
            map.getCanvas().style.cursor = '';
        });

        map.on('mouseenter', 'lakeicons', function() {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'lakeicons', function() {
            map.getCanvas().style.cursor = '';
        });
      /*
       map.on('click', 'utilities-viz', function(e) {
        new mapboxgl.Popup()
          .setLngLat(e.lngLat)
          .setHTML(e.features[0].properties.name)
          .addTo(map);
      });
      */

      var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
      });


      map.on('mouseenter', 'streamicons', function(e) {
      // Change the cursor style as a UI indicator.
      map.getCanvas().style.cursor = 'pointer';
       
      var coordinates = e.features[0].geometry.coordinates.slice();
      var siteName = e.features[0].properties.station_nm;
       
      // Ensure that if the map is zoomed out such that multiple
      // copies of the feature are visible, the popup appears
      // over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }
       
      // Populate the popup and set its coordinates
      // based on the feature found.
        popup
          .setLngLat(coordinates)
          .setHTML(siteName)
          .addTo(map);
      });
       
      map.on('mouseleave', 'streamicons', function() {
        map.getCanvas().style.cursor = '';
        popup.remove();
      });
   
      // Change the cursor to a pointer when the mouse is over the states layer.
      map.on('mouseenter', 'utilities-viz', function() {
        map.getCanvas().style.cursor = 'pointer';
      });
   
      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'utilities-viz', function() {
        map.getCanvas().style.cursor = '';
      });


      /*
            map.on('click', 'utilities-simpler-viz', function(e) {
        new mapboxgl.Popup()
          .setLngLat(e.lngLat)
          .setHTML(e.features[0].properties.name)
          .addTo(map);
      });
      */
   
      // Change the cursor to a pointer when the mouse is over the states layer.
      map.on('mouseenter', 'utilities-simpler-viz', function() {
        map.getCanvas().style.cursor = 'pointer';
      });
   
      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'utilities-simpler-viz', function() {
        map.getCanvas().style.cursor = '';
      });

      /*
            map.on('click', 'utilities-simplest-viz', function(e) {
        new mapboxgl.Popup()
          .setLngLat(e.lngLat)
          .setHTML(e.features[0].properties.name)
          .addTo(map);
      });
      */
   
      // Change the cursor to a pointer when the mouse is over the states layer.
      map.on('mouseenter', 'utilities-simplest-viz', function() {
        map.getCanvas().style.cursor = 'pointer';
      });
   
      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'utilities-simplest-viz', function() {
        map.getCanvas().style.cursor = '';
      });



map.on('click', 'streamicons', function(e) {
            var coordinates = e.features[0].geometry.coordinates.slice();
            var description = e.features[0].properties.description;
            var siteNumber = e.features[0].properties.site_no;
            var selectstart = document.getElementById("starttime").value;
            var selectend = document.getElementById("endtime").value;
            var siteName = e.features[0].properties.station_nm;
            document.body.style.cursor = "wait";
            maphide.style = "visibility: visible"
            var popup = new mapboxgl.Popup({ className: "streampopup"})
              .setLngLat(coordinates)
              .setHTML(siteName)
              .addTo(map);

        getJSON(`/nwis_surfacewater_avg/${siteNumber}/${selectstart}/${selectend}`, function(err, data) {
          var labels_list = ["date", "gage_height_min_avg", "gage_height_max_avg", "gage_mean_avg", "gage_height_min", "gage_height_max", "gage_mean"];
          if (data.data != null) {
          console.log(data.data);

            for (var k=0; k< data.data.length; k++) {
              data.data[k][0] = new Date(data.data[k][0]);
            }
          var new_data = data.data;

          // var new_data = new Array (data.data.length);
          // for (var k = 0; k < data.data.length; k++) {
          //   new_data[k] = new Array(7);
          //   var new_date = `${data.data.month[k]}/${data.data.day[k]}/${data.data.year[k]}`;
          //   var dt = new Date(new_date);
          //   new_data[k][0] = dt;
          //   new_data[k][1] = data.data.gage_height_min_avg[k];
          //   new_data[k][2] = data.data.gage_height_max_avg[k];
          //   new_data[k][3] = data.data.gage_mean_avg[k];
          //   new_data[k][4] = data.data.gage_height_min[k];
          //   new_data[k][5] = data.data.gage_height_max[k];
          //   new_data[k][6] = data.data.gage_mean[k];
           // }

          console.log("p2");
          console.log(gage_min_avg_box.checked);
          dataless.style = 'visibility: hidden';
          frosted.style = 'visibility: hidden'; 
          if (new_data.length) {
            g.updateOptions({
                  'visibility': [gage_min_avg_box.checked, gage_max_avg_box.checked, gage_mean_avg_box.checked, gage_min_365_box.checked, gage_max_365_box.checked, gage_mean_365_box.checked],
                  'file': new_data,
                  'title': siteName,
                  'legend': 'always',
                  'labels': labels_list
                  });
            console.log("p3")
          } else {
              dataless.style = 'visibility: visible';
              frosted.style = 'visibility: visible';
              g.updateOptions({
                'visibility': [false, false, false, false, false, false],
                'title': siteName,
                'labels': labels_list
              });
              console.log("p3.5")
            }
        } else {
          dataless.style = 'visibility: visible';
          frosted.style = 'visibility: visible';
          g.updateOptions({
            'visibility': [false, false, false, false, false, false],
            'title': siteName,
            'labels': labels_list
          })
          console.log("p4")
        }
        document.body.style.cursor = "auto";
        maphide.style = "visibility: hidden"
      });
    });



            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            //while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                //coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
           // }
            /*
            new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
            */

  maybe.style = 'visibility: visibile'
  var toggleableGraphIds = ['0', '1', '2', '3', '4', '5'];
     
  for (var i = 0; i < toggleableGraphIds.length; i++) {
      var id = toggleableGraphIds[i];
      var checkbox = document.getElementById(id);
      checkbox.checked = true; 
  }

  function change(el) {
    g.setVisibility(parseInt(el.id), el.checked);
  }





     
      var quakeID = null;
      map.on('mouseenter', 'utilities-viz', e => {
          // Set variables equal to the current feature's magnitude, location, and time
          var quakeMagnitude = e.features[0].properties.PWSID; // changed 
          var quakeLocation = e.features[0].properties.SystemName;
          if (e.features.length > 0) {
            // Display the magnitude, location, and time in the sidebar
            magDisplay.textContent = quakeMagnitude;
            locDisplay.textContent = quakeLocation;
            quakeID = e.features[0].id;
            // When the mouse moves over the earthquakes-viz layer, update the
            // feature state for the feature under the mouse
            if (quakeID) {
              map.setFeatureState(
              { source: 'utilities', sourceLayer: "utilities-35banb", id: quakeID },
              { hover :true }
              );
            }
          }
      });
        // When the mouse leaves the earthquakes-viz layer, update the

        // feature state of the previously hovered feature
      

        map.on('mouseleave', 'utilities-viz', function() {
          if (quakeID) {
            map.setFeatureState(
              {
                source: 'utilities',
                sourceLayer: "utilities-35banb",
                id: quakeID
              },
              {
                hover: false
              }
            );
          }
        quakeID = null;
          // Remove the information from the previously hovered feature from the sidebar
          magDisplay.textContent = '';
          locDisplay.textContent = '';
        });



      map.on('mouseenter', 'utilities-simpler-viz', e => {
          // Set variables equal to the current feature's magnitude, location, and time
          var quakeMagnitude = e.features[0].properties.PWSID; // changed 
          var quakeLocation = e.features[0].properties.SystemName;
          if (e.features.length > 0) {
            // Display the magnitude, location, and time in the sidebar
            magDisplay.textContent = quakeMagnitude;
            locDisplay.textContent = quakeLocation;
            quakeID = e.features[0].id;
            // When the mouse moves over the earthquakes-viz layer, update the
            // feature state for the feature under the mouse
            if (quakeID) {
              map.setFeatureState(
              { source: 'utilities-simpler', sourceLayer: "SimplePolygonsNC-4d1tv2", id: quakeID },
              { hover :true }
              );
            }
          }
      });



        // When the mouse leaves the earthquakes-viz layer, update the

        // feature state of the previously hovered feature
      

        map.on('mouseleave', 'utilities-simpler-viz', function() {
          if (quakeID) {
            map.setFeatureState(
              {
                source: 'utilities-simpler',
                sourceLayer: "SimplePolygonsNC-4d1tv2",
                id: quakeID
              },
              {
                hover: false
              }
            );
          }
        quakeID = null;
          // Remove the information from the previously hovered feature from the sidebar
          magDisplay.textContent = '';
          locDisplay.textContent = '';
        });

      map.on('mouseenter', 'utilities-simplest-viz', e => {
          // Set variables equal to the current feature's magnitude, location, and time
          var quakeMagnitude = e.features[0].properties.PWSID; // changed 
          var quakeLocation = e.features[0].properties.SystemName;
          if (e.features.length > 0) {
            // Display the magnitude, location, and time in the sidebar
            magDisplay.textContent = quakeMagnitude;
            locDisplay.textContent = quakeLocation;
            quakeID = e.features[0].id;
            // When the mouse moves over the earthquakes-viz layer, update the
            // feature state for the feature under the mouse
            if (quakeID) {
              map.setFeatureState(
              { source: 'utilities-simplest', sourceLayer: "EvenSimplerPolygonsNC-a1qsdf", id: quakeID },
              { hover :true }
              );
            }
          }
      });

        // When the mouse leaves the earthquakes-viz layer, update the
        // feature state of the previously hovered feature
      map.on('mouseleave', 'utilities-simplest-viz', function() {
          if (quakeID) {
            map.setFeatureState(
              {
                source: 'utilities-simplest',
                sourceLayer: "EvenSimplerPolygonsNC-a1qsdf",
                id: quakeID
              },
              {
                hover: false
              }
            );
          }
        quakeID = null;
          // Remove the information from the previously hovered feature from the sidebar
        magDisplay.textContent = '';
        locDisplay.textContent = '';

      });


    </script>
	</body>
	</html>