<!DOCTYPE html>
	<html>
	<nav>
		<a href="/">Home</a>
		<a href="./utilityfinder">Utility Finder</a>
		<a href="./search">Interactive Map</a>
	</nav>
	<head>
		<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
		<title>Data+ Utility Finder Homepage</title>
	</head>
	<body>
	<h1>Result</h1>
	<p>{% if gran == 'zipcode_level' %}
		"Warning: Address was unreadable so using zipcode to display utilities"
		{% endif %}
	</p>
	<br><br>
	<p>{% if uname == 'None' %}
		"Warning: No utility for your area to display"
		{% endif %}
	</p>
	<p>Address is: {{ad}}, Zipcode is: {{zipc}}, State is: {{st}}</p>
	<br><br>
	<p>Latitude is: {{lat}}, Longitude is {{lon}} </p>
	<br><br>
	<p>Utility is: {{uname}}</p><br>
	<p>Conservation plan information: <a href={{linkname}} target="_blank">{{linkname}}</a> </p>

	<iframe src="map?lat={{lat}}&lon={{lon}}" style='width: 600px; height: 500px;'></iframe>
	<script>
	</script>

	</body>
	</html>